

/*

Sans Serif Google fonts


font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Calistoga', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Noto Sans SC', sans-serif;
font-family: 'Assistant', sans-serif;
font-family: 'Public Sans', sans-serif;
font-family: 'Asap Condensed', sans-serif;
font-family: 'Archivo', sans-serif;
font-family: 'Amaranth', sans-serif;

*/



head {
  font-family: 'Assistant', sans-serif;
}

body {

/*font-family: 'Yrsa', serif;*/
font-family: 'Assistant', sans-serif;
background: #f9ffe6;
margin-left: 4%;
font-size: 110%;


}


/* Nav Bar */

nav {

/*font-family: 'Cinzel', serif;*/
font-size: 115%;
font-variant: small-caps;
margin: auto;
width: 500px;
border: 2px solid #555;
text-align: center;
padding: 10px;
background: #e6e6cc;
}



a:link {color: #974b00;}

a:visited {color: #1a3300;}

.clear {
  clear: both;
}


/* Headers */


h1 {

font-weight: bold;
text-align: center;
color: #444422;
background: #e0e0d1;
margin: 3% auto;
padding: 10px;
border-top: 2px solid black;
border-bottom: 2px solid black;
text-transform: uppercase;
font-size: 2.5rem;

}


h2 {

    padding: 5px;
    margin-left: 4%;
    padding-bottom: 10px;
    background: #cad5bb;
    font-variant: small-caps;

}

h3 {

    padding: 2px;
    margin-left: 4%;
    border-bottom: 1px solid black;
    margin-top: 4%;

}

h4 {

  padding: 2px;
  margin-left: 4%;
  margin-top: 1%;
  border-bottom: 1px dotted #000;
  font-style: italic;

}

span {

    font-weight: bold;
    color: green;

}

main {


}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

img.map {

  width: 50%;
  height: auto;

}

p {
  padding: 2px;
  margin-left: 4%;
  margin-right: 8%;
  line-height: 1.5;
}

div.toc {

  margin-left: 4%;
  padding: 20px;
  line-height: 2.5;


  background: url("../images/photographs/samarkand_mosaic_toc.png");
  background-position: left top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

}

blockquote {
  margin: 0 0 1em; /* Adjust margin as needed */
  padding: 0.5em 20px; /* Add padding to the left for better readability */
  border-left: 4px solid #333; /* Left border for emphasis */
  color: #555; /* Text color */
}

table {
  padding: 2px;
  margin-left: 4%;
  margin-right: 8%;
  line-height: 1.5;
}